@mixin ContainerTag($display){
    display: $display;
    height: 100%;
    width: 100%;
    padding: .5rem;
    border: 2px solid black;
    gap: .5rem;
}
@mixin forHandW(){
    height: 100%;
    width: 100%;
}
.special-btn{
    background-color: red;
    color: black;
    transition: ease-in-out 1s;
}
